asyncio
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
GPUtil
httpx
moviepy
natsort
opencv-python
Pillow
psutil
pytz
#pyrogram==2.0.80
https://github.com/TelegramPlayGround/pyrogram/archive/unknown_errors.zip
requests
tgcrypto
uvloop
yt_dlp
libtorrent
